# dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# build files
dist/
build/

# environment files
.env
.env.local
.env.production

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# uploads
backend/uploads/